<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>expense tracter</title>
    <script src="https://kit.fontawesome.com/5c174d451e.js" crossorigin="anonymous"></script>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;



    }

    body {
        background-image: url('https://media.istockphoto.com/photos/vacation-travel-planning-concept-with-map-overhead-view-of-equipment-picture-id1153172006?b=1&k=6&m=1153172006&s=170667a&w=0&h=9chTQld8RagPy9FDlKVl5txd9BYC5K7YMaALY8ZrLXE=');
        background-repeat: no-repeat;
        background-size: cover;
        color: white;


    }



    h1 {
        text-align: center;
    }


    .balance {
        margin: auto;
        text-align: center;
    }

    .container {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 400px;
        height: 630px;
        background-color: #574f7d;
        position: absolute;
        top: 23px;
        left: 20%;

    }

    .head {
        text-align: center;
        padding-bottom: 30px;
    }

    .allinone {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: #574f7d;
        border-radius: 40px;
        margin: auto;
        opacity: 0.9;
        display: flex;
        width: 1000px;
        height: 713px;

    }

    .showcase {
        display: flex;
        margin: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-right: 2px black;

    }

    .income {
        border-right: 3px solid black;
        padding: 20px;
        margin: auto;
    }

    .income h2 {
        color: green;
    }

    .expense {
        padding: 20px;
        margin: auto;
    }

    .expense h2 {
        color: red;

    }

    .form {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-top: 10px;
        text-align: center;


    }

    form {
        margin-left: 6px;
    }

    input {
        padding: 10px;
        width: 80%;
    }

    input[type="button"] {
        text-align: center;
        margin: 10px;
        background-color: purple;
        color: gold;
    }

    input[type="submit"] {
        text-align: center;
        margin: 10px;
        background-color: purple;
        border-radius: 15px;

        color: gold;
    }

    .stylediv {
        display: flex;
        justify-content: space-between;
        width: 80%;
        padding: 10px;
        margin-top: 20px;
        margin-left: 40px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


    }
</style>

<body>
    <div class="allinone">
        <div class="container">

            <%- include ('partials/amounts') %>
            <div class="form">
                <h1>add new transaction</h1>

                <form action="/users/tracker/<%=user_name%>/hisdata" method="POST">
                    <h2>description about the amount </h2>
                    <input type="text" name="desc" class="mytext">
                    <h2>amount</h2>
                    <p>(negative - expense , positive - income)</p>
                    <input type="number" name="amount" class="myamount" required>
                    <input type="submit" value="add transaction" class="btn" required>
                </form>

                <form action="/users/tracker/<%= user_name%>/logout" method="POST">
                    <input type="submit" value="logout" class="btn">
                </form>
            </div>

        </div>
    </div>
</body>


</html>